@model Weather



<h1 class="text-white">Weather Application</h1>
<div>
    <p class="text-white">The temperature in @Model.CityName is...</p>
</div>
<div class="text-white">
    @Model.Farenheit
</div>
